{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(
                function () {
                    $.ajax({
                                type: "POST",
                                url: "http://127.0.0.1:8000/trains/stations/",
                                dataType: "json",
                                success: function (data) {
//                                    console.error(data)
                                    var obj = data.stations[0].name;
                                    alert(obj); // будет выведено "John"
                                }
                            }
                    )
                }
        )
    </script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>